<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>Fecha publicacion</th>
      <th>Fuente</th>
      <th>Fotos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.titulo %></td>
        <td><%= note.contenido %></td>
        <td><%= note.fecha_publicacion %></td>
        <td><%= note.fuente %></td>
        <td><%= note.fotos %></td>
        <td><%= link_to 'Show',  note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
