<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @note.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @note.contenido %>
</p>

<p>
  <strong>Fecha publicacion:</strong>
  <%= @note.fecha_publicacion %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @note.fuente %>
</p>

<p>
  <strong>Fotos:</strong>
  <%= @note.fotos %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
